
.rel{
    /* background-color: rgb(241, 241, 107); */
    position: relative;
    /* bottom: 50px; */
    /* left: 100px; */
    width: 700px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 300px;
    /* top: 50px; */
    left: 50px;
    
}

img{
    height: 200px;
    border-radius: 10%;
}

#kittens{
    position: absolute;
    top: 50px;
    left: 50px;
}

#parent{
    background-color: skyblue;
    height: 300px;
    position: relative;
}

#puppy{
    position: absolute;
    top: 50px;
    /* position: relative; */
    z-index: 10;
}

#navbar{
    height: 60px;
    background-color: yellow;
    /* position: fixed; */
    width: 100%;
    /* top: 50px; */
    position: sticky;
    top: 0px;
    z-index: 100;

}
