<<<<<<< HEAD
body{
    margin:0px;
}

.header{
    height: 700px;
=======

body {
    margin: 0px;

}


.header{
    height: 600px;
>>>>>>> c3cbb1820fb88147af3f4d4bc27f9d55743e5b37
    width: 100%;
    overflow: hidden;
}

.z10{
    z-index: 10;
}
<<<<<<< HEAD
.z15{
    z-index: 15;
}
=======

.z15{
    z-index: 15;
}

>>>>>>> c3cbb1820fb88147af3f4d4bc27f9d55743e5b37
.z20{
    z-index: 20;
}

.opacity{
    opacity: 70%;
}

.top{
<<<<<<< HEAD
    top:0px;
=======
    top: 0px;
>>>>>>> c3cbb1820fb88147af3f4d4bc27f9d55743e5b37
}

.h500{
    height: 500px;
<<<<<<< HEAD
}
=======
}
>>>>>>> c3cbb1820fb88147af3f4d4bc27f9d55743e5b37
