
/*light(white)- #a8dadc
 accent(red) - #e63946
 mid(lightBlue)- #a8dadc
 darker(mediumBlue) - #457b9d
 darkest(darkBlue) - #1d3557 */


.t-White{
     color: #a8dadc;
}

.bg-White{
     background-color: #e63946;
}

body {
    margin: 0px;

}


.header{
    height: 600px;
    width: 100%;
    overflow: hidden;
}

.z10{
    z-index: 10;
    
}

.z15{
    z-index: 15;
}

.z20{
    z-index: 20;
}

.opacity{
    opacity: 70%;
}

.top{
    top: 0px;
}

.h500{
    height: 500px;
}