body {
    background-color: #9266ff;
  }
  
  .App {
    background-color:#3f3160;
    min-height: 500px;
    width: 400px;
    margin: 40px auto;
    border-radius: 5px;
  }
  
  .todo-form input {
    background-color: rgb(27,112,137);
    border: 0;
    width: 200px;
    height: 50px;
    margin: 20px;
    outline: none;
    padding: 0 20px;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
  } 
  
  .todo-form input::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .todo-form button {
    background-color: rgb(202,156,25);
    border-radius: 5px;
    border:0;
    cursor: pointer;
    font-weight: bolder;
    height: 50px;
    width: 80px;
    color: #fff;
    text-transform: uppercase;
  }
  
  .todo-form ul li{
    color: white;
    font-size: 20px;
  }