<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <% dishes.forEach(record => { %>

        <h1><%= record.name %> </h1>

        <h2><%= record.fooddescription %> </h2>

        <h3><%= record.price %> </h3>

        <img height="130px" src="<%= record.imageurl %>" alt="">
     
    <% }) %>
</body>

</html>